<div class="btn-group" role="group" aria-label="...">
  <%= link_to "Edit", edit_drama_path(@drama), class: "btn btn-default", type: "button" %>
  <%= link_to "Delete", drama_path(@drama), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default", type: "button" %>
</div>
