= simple_form_for @drama, html: { multipart: true } do |f|
  = f.input :title
  = f.input :description
  = f.input :num_of_chapter
  = f.input :actors
  = f.input :rating
  = f.input :image, as: :file
  br
  .row
    = link_to t(:cancel), root_path, class: "btn btn-default"
    = f.button :submit, class: "btn btn-primary", value: "#{t(:create)} #{Drama.model_name.human}"
