<% if !user_signed_in? %>
  <div class="jumbotron">
    <h2>Cannot find your favorite drama?</h2>
    <p>
      <%= link_to "Sign Up To Add It Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
<% end %>

<div class="row">
  <%= render partial:'drama_list', collection: @dramas, as: :drama %>
</div>
