<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Comment & Vote!!</h1><br/>
    <p>Cannot find your favorite drama?</p><br/>
    <p>
      <%= link_to "Sign Up To Add It Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
<% end %>

<div class="row">
  <%= render partial:'drama_list', collection: @dramas, as: :drama %>
</div>
