.panel.panel-default
  .panel-body
    .row
      .col-md-5
        = image_tag @drama.image.url(:medium)

        .post_time_user
          strong= "#{t('.peer_rating')}: "
          span.star-rating data-score== @avg_rating
          .pull-right
            = t(:by)
            span.show_user = @drama.user.name
        h2#show_title
          span.label.label-success= @drama.title
        p
          strong= "#{Drama.human_attribute_name('description')}: "
          = simple_format(@drama.description)
        p
          strong= "#{Drama.human_attribute_name('num_of_chapter')}: "
          = @drama.num_of_chapter
        p
          strong= "#{Drama.human_attribute_name('actors')}: "
          = @drama.actors
        p
          strong= "#{Drama.human_attribute_name('rating')}: "
          = @drama.rating
        - if is_drama_owner?(@drama, current_user)
          = render 'drama_owner_actions'

      #reviews.col-md-5.col-md-offset-2
        #reviews_header.row
          h3
            = t(".user_review_head")
            = link_to t(".new_comment"), new_drama_comment_path(@drama), class: "btn btn-info pull-right"
        - if !@comments.blank?
          = render partial: 'comment_list', collection: @comments, as: :comment
        - else
          h4= t('no_comment_yet_msg')

javascript:
  $('.star-rating').raty({
    path: "/images/",
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
