= simple_form_for [@drama, @comment] do |f|
  = f.input :content

  #comment_rating
  br
  .row
    = link_to 'Cancel', drama_path(@drama), class: "btn btn-default"
    = f.button :submit, class: "btn btn-primary"

javascript:
  $('#comment_rating').raty({
    path: "/images/",
    scoreName: "comment[rating]"
  });

