<div class="panel panel-info  col-md-8 col-md-offset-2 user_panel">
  <div class="panel-heading"><h2>Profile</h2></div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td>Name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Comments</td>
        <td>
          <%= show_user_comments_count(@user) %>
        </td>
      </tr>
    </table>
  </div>
</div>

